<nav class="bws-top-nav-wrapper navbar navbar-expand navbar-dark bg-primary">
  <!-- Navbar Brand-->
  <span class="navbar-brand ps-3">{{ APP_SHORT_NAME }}</span>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
    <i class="bi bi-list h3"></i>
  </button>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
    {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdown"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="bi bi-person-lines-fill h5"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href='{% url "account:selfupdate" %}'>Account</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            {% if user.is_authenticated %}
              <form method="post" action="{% url 'account:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link dropdown-item">Logout</button>
              </form>
            {% else %}
              <a class="dropdown-item" href="{% url 'account:login' %}">Log in</a>
            {% endif %}
          </li>
        </ul>
      </li>
    {% endif %}
  </ul>
</nav>
